$darkblue-color: #03001c;
$lightblue-color: #5b8fb9;
$blue-color:#301e67;
$shadow: #00000033;
$dark:#000000cc;
$pie-first:#ff3333;
$pie-second:#33ff33;
$pie-third: #3333ff;
$pie-fourth:#ffff33;
$pie-fifth:#ff33ff;